.sidenav-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav-logo-btn {
    justify-self: flex-start;
    top: 0px;
    margin-top: 0;
}

.sidenav-icon,
.sidenav-logo-btn {
    background: transparent;
    border: none;
    align-self: center;
    border-radius: 8px;
}

.sidenav-icon {
    cursor: pointer;
    padding: 6px;
    margin-bottom: 20px;
}

.sidenav-icon:hover,
.sidenav-logo-btn:hover {
    background: rgb(255, 255, 255, 0.1);
}


.sidenav-logo {
    height: 72px;
    top: 0px;
    margin-top: 0;
    z-index: 901;
    border-right: 1px solid rgb(255, 255, 255, 0.1);
}

.sidenav,
.sidenav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6vw;
    background-color: black;
    position: fixed;
    padding: 20px;
    scrollbar-width: 0;
    overflow-y: auto;
    margin-top: 0px;
    border-right: 1px solid rgb(255, 255, 255, 0.1);
}

.sidenav {
    position: fixed;
    scrollbar-width: 0;
    overflow-y: auto;
    margin-top: 0px;
    color: white;
    z-index: 900;
    top: 72px;
    height: 100%;
}

.sidenav::-webkit-scrollbar,
.sidenav-logo::-webkit-scrollbar {
    display: none;
}