<div class="profile-container">
    <h1 class="profile-header">Create a Blog</h1>
    <form [formGroup]="createBlogForm" class="profile-form">
        <div class="input-group">
            <label for="name" class="input-label">Name</label>
            <input id="name" type="text" formControlName="name" class="input-field">
        </div>
        <div class="input-group">
            <label for="username" class="input-label">Username</label>
            <input id="username" type="text" formControlName="username" class="input-field">
        </div>


        <div class="image-upload-container">
            <img src="{{baseUrl}}/Images/{{createBlogForm.value.photoPath}}" alt="Image Preview" class="image-preview">
            <app-file-upload currentFileName="{{createBlogForm.value.photoPath}}"
                (addedFilePath)="setPhotoPath($event)"></app-file-upload>
        </div>
        
        <button type="submit" [disabled]="!createBlogForm.valid" (click)="create()" class="submit-button">
            Create
        </button>
    </form>
</div>